<!DOCTYPE html>
<% include ../partials/head %>
<body id="home">

  <!-- header area -->
  <header class="wrapper clearfix">
    <div id="banner">
      <div id="logo"><a href="index"><img src="styles/images/heater.png" alt="logo"></a></div> 
    </div>

    <!-- main navigation -->
    <nav id="topnav" role="navigation">
      <div class="menu-toggle">Menu</div>  
      <ul class="srt-menu" id="menu-main-navigation">
        <li><a href="index">Home</a></li>
	<li><a href="afficher_zones">Zones</a></li>
	<li><a href="afficher_programs">Prog journée</a></li>
	<li class="current"><a href="program_semaine">Prog semaine</a></li>
      </ul>
    </nav><!-- #topnav -->
  </header><!-- end header -->

  <section id="page-header" class="clearfix">    
    <!-- responsive FlexSlider image slideshow -->
    <div class="wrapper">
      <h1>Programmes semaine</h1>
    </div>
  </section>

  <!-- main content area -->
  <div class="wrapper" id="main">
    <!-- content area -->
    <section id="content">

    <p>Voici les <% progs.length %> programmes:
    </p>
      <% for(i in progs) { %>
      <div>
      <a href="edit_prog_sem?name=<%= progs[i]._name %>"><img src="styles/images/edit.png"></a>
      <a href="supprime_prog_sem?name=<%= progs[i]._name %>"><img src="styles/images/cancel.png"></a>
      <% if(progs[i]._status != "OK") { %>
	  configuration problem :
	  <% }  %>

	  <%= progs[i]._name %>
	<table  cellspacing=0>
	  <tr>
	    <th>lundi</th>
	    <th>mardi</th>
	    <th>mercredi</th>
	    <th>jeudi</th>
	    <th>vendredi</th>
	    <th>samedi</th>
	    <th>dimanche</th>
	  </tr>
	  <tr>
	    <% for(j=0; j<7; j++) { %>
	       <td class="color_<%= progs[i]._program[j] %>">
		 <a href="edit_prog?name=<%= progs[i]._program[j] %>"><%= progs[i]._program[j] %></a>&nbsp;
	       </td>
	    <% } %>
	  </tr>
	  </table>
      </div>
	<% } %>

	<h1> Ajouter un programme</h1>
 <form method="post" action="ajouter_prog_sem">
   Nom du programme: <input type="text" name="prog_name"
    <% if(typeof selected_prog != 'undefined' && selected_prog) { %><
			value="<%= selected_prog._name %>"
			<% } %> /><br/>

    <%
       var liste_jours=["lundi","mardi","mercredi","jeudi","vendredi","samedi", "dimanche"];
       for(j in liste_jours  ) { %>
    <%= liste_jours[j] %>
<select name="<%= liste_jours[j] %>">
  <% for(var i in progs_jour) { %>
  <option value="<%= progs_jour[i]._name %>"
	  <% if(typeof selected_prog != 'undefined' && selected_prog) {
	     if(selected_prog._program[j] === progs_jour[i]._name) {
	     %>
			selected
	  <% }
	     } %>
     ><%= progs_jour[i]._name %></option>
  <%    } %>
</select><br/>
<% } %> 
  <input type="submit" value="Submit">
 </form>

    </section><!-- #end content area -->

  </div><!-- #end div #main .wrapper -->
  <% include ../partials/footer %>
</body>
</html>
