<!DOCTYPE html>
<% include ../partials/head %>
<body id="home">

  <!-- header area -->
  <header class="wrapper clearfix">
    <div id="banner">
      <div id="logo"><a href="/"><img src="styles/images/heater.png" alt="logo"></a></div> 
    </div>

    <!-- main navigation -->
    <nav id="topnav" role="navigation">
      <div class="menu-toggle">Menu</div>  
      <ul class="srt-menu" id="menu-main-navigation">
        <li><a href="/">Home</a></li>
	<li><a href="afficher_zones">Zones</a></li>
	<li><a href="afficher_programs">Prog journée</a></li>
	<li class="current"><a href="program_semaine">Prog semaine</a></li>
	<li><a href="logs">Logs</a></li>
      </ul>
    </nav><!-- #topnav -->
  </header><!-- end header -->

  <section id="page-header" class="clearfix">    
    <!-- responsive FlexSlider image slideshow -->
    <div class="wrapper">
      <h1>Programmes semaine</h1>
    </div>
  </section>

  <!-- main content area -->
  <div class="wrapper" id="main">
    <!-- content area -->
    <section id="content">
      <%
	var liste_jours=["lundi","mardi","mercredi","jeudi","vendredi","samedi", "dimanche"];
      %>
    <p>Voici les <%= progs.length %> programmes:
    </p>

    <% for(var p=0; p< progs.length; p++) { %>
	<div>
	    <a href="edit_prog_sem?name=<%= progs[p]._id %>"><img src="styles/images/edit.png"></a>
	    <a href="supprime_prog_sem?name=<%= progs[p]._id %>"><img src="styles/images/cancel.png"></a>
	    <%= progs[p].name %>
	    <table  cellspacing=0>
		<tr>
		    <th>lundi</th>
		    <th>mardi</th>
		    <th>mercredi</th>
		    <th>jeudi</th>
		    <th>vendredi</th>
		    <th>samedi</th>
		    <th>dimanche</th>
		</tr>
		<tr>
		    <% for(var jour=0; jour < liste_jours.length; jour++ ) { %>
			<td>
			    <% for(var i=0; i<progs_jour.length; i++) { %>
				<% if(progs_jour[i]._id ==  progs[p].program[jour]) { %>
				    <a href="edit_prog?name=<%= progs_jour[i]._id %>"><%= progs_jour[i].name %></a>&nbsp;
				<% } %>
			    <% } %>
			</td>
		    <% } %>
		</tr>
	    </table>
	</div>
    <% } %>

      <h1> Ajouter un programme</h1>
      <form method="post" action="ajouter_prog_sem">
          <input type="hidden" name="id" value="<%= selected_prog._id %>">
	  Nom du programme: <input type="text" name="prog_name"
  <% if(typeof selected_prog != 'undefined' && selected_prog) { %>
	  <value="<%= selected_prog._id %>"
  <% } %> /><br/>

	  <%  for(var jour=0; jour < liste_jours.length; jour++ ) { %>
	      <div><%= liste_jours[jour] %></div><div>
	  <select name="prog_<%= jour %>">
	      <% for(var i=0; i<progs_jour.length; i++) { %>
		  <option value="<%= progs_jour[i]._id %>"
			  <% if(typeof selected_prog != 'undefined' && selected_prog) {
			      if(selected_prog.prog[jour] === progs_jour[i]._id) {
			  %>
			  selected
	      <% }
	      } %>
		  ><%= progs_jour[i].name %>
		  </option>
          <%    } %>
	  </select></div><br/>
	  <% } %>
	  <input type="submit" value="Submit">
      </form>

    </section><!-- #end content area -->

  </div><!-- #end div #main .wrapper -->
  <% include ../partials/footer %>
</body>
</html>
