<!DOCTYPE html>
<% include ../partials/head %>
<body id="home">

  <!-- header area -->
  <header class="wrapper clearfix">
    <div id="banner">
      <div id="logo"><a href="/"><img src="styles/images/heater.png" alt="logo"></a></div> 
    </div>

    <!-- main navigation -->
    <nav id="topnav" role="navigation">
      <div class="menu-toggle">Menu</div>  
      <ul class="srt-menu" id="menu-main-navigation">
        <li><a href="/">Home</a></li>
	<li class="current"><a href="afficher_zones">Zones</a></li>
	<li><a href="afficher_programs">Prog journée</a></li>
	<li><a href="program_semaine">Prog semaine</a></li>
	<li><a href="logs">Logs</a></li>
      </ul>
    </nav><!-- #topnav -->
  </header><!-- end header -->

  <section id="page-header" class="clearfix">    
    <!-- responsive FlexSlider image slideshow -->
    <div class="wrapper">
      <h1>Zones</h1>
    </div>
  </section>

  <!-- main content area -->
  <div class="wrapper" id="main">
    <!-- content area -->
    <section id="content">

    <p>Voici les <% zones.length %> zones:
    </p>
      <% for(i in zones){ %>
      <div>
      <a href="edit_zones?name=<%= zones[i]._name %>"><img src="styles/images/edit.png"></a>
	<a href="supprime_zone?name=<%= zones[i]._name %>"><img src="styles/images/cancel.png"></a>
	<% if(zones[i]._status != "OK") { %>
	configuration problem  -
	<% } %>
	<%= zones[i]._name %>
	(<%= zones[i]._pin1 %>, <%= zones[i]._pin2 %>)
	<a href="edit_prog_sem?name=<%= zones[i]._program %>"><%= zones[i]._program %></a>
	</div>
      <% } %>

    <h1> Ajouter une zone</h1>
    <form method="post" action="ajouter_zone">
      Zone Name: <input type="text" name="zone_name"
			<% if(typeof selected_zone != 'undefined' && selected_zone) { %>
			value="<%= selected_zone._name %>"
			<% } %>
			>
      <br>
      PIN1: <input type="text" name="pin1"
			<% if(typeof selected_zone != 'undefined' && selected_zone) { %>
			value="<%= selected_zone._pin1 %>"
			<% } %>
		   ><br>
      PIN2: <input type="text" name="pin2"
		   <% if(typeof selected_zone != 'undefined' && selected_zone) { %>
		   value="<%= selected_zone._pin2 %>"
		   <% } %>
		   ><br>
      Program:

      <select name="program">
	<% for(var i in programs) { %>
	<option value="<%= programs[i]._name %>"
		<% if(typeof selected_zone != 'undefined' && selected_zone) {
		   if(selected_zone._program == programs[i]._name) {
		   %>
		selected
		<% }
		   } %>
		><%= programs[i]._name %></option>
	<%    } %>
      </select><br/>
      <input type="submit" value="Submit">
    </form>

    </section><!-- #end content area -->

  </div><!-- #end div #main .wrapper -->
  <% include ../partials/footer %>
</body>
</html>
