<html>
  <head>
    <% include ../partials/head %>
    <style>
      .color_0 {
      background-color: red;
      }
      .color_1 {
      background-color: orange;
      }
      .color_2 {
      background-color: yellow;
      }
      .color_3{
      background-color: green;
      }
    </style>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <p>Voici les <% progs.length %> programmes:
    </p>
      <% for(i in progs) { %>

      <a href="edit_prog?name=<%= progs[i]._name %>">Editer</a>
      <a href="supprime_prog?name=<%= progs[i]._name %>">Supprimer</a>
      <% if(progs[i]._status != "OK") { %>
	  configuration problem :
	  <% }  %>

	  <%= progs[i]._filename %> -
	  <%= progs[i]._name %>  -
	  PROGRAM=
	<table  cellspacing=0>
	  <tr>
	    <% for(j=0; j<24; j++) { %>
	       <th colspan="4"> <%= j %> </th>
	       <% } %>
	  </tr>
	  <tr>
	    <% for(j=0; j<24*4; j++) { %>
	       <td class="color_<%= progs[i]._program[j] %>">&nbsp;</td>
	    <% } %>
	  </tr>
	  </table>
	<% } %>

	<h1> Ajouter un programme</h1>
 <form method="post" action="ajouter_prog">
   Nom du programme: <input type="text" name="prog_name"
			    <% if(typeof selected_prog != 'undefined' && selected_prog) { %><
			value="<%= selected_prog._name %>"
			<% } %> /><br/>
     Heure début (hh:mm): <input type="text" name="heure_debut" maxlength="5" /><br/>
     Heure fin (hh:mm): <input type="text" name="heure_fin" maxlength="5" /><br/>
     mode:
     <select name="mode">
       <option value="Arret">Arrêt</option>
       <option value="Hors-gel">Hors-gel</option>
       <option value="Eco">Eco</option>
       <option value="Confort">Confort</option>
     </select>
  <input type="submit" value="Submit">
 </form>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
