<!DOCTYPE html>
<% include ../partials/head %>
<body id="home">

  <!-- header area -->
  <header class="wrapper clearfix">
    <div id="banner">
      <div id="logo"><a href="index"><img src="styles/images/heater.png" alt="logo"></a></div> 
    </div>

    <!-- main navigation -->
    <nav id="topnav" role="navigation">
      <div class="menu-toggle">Menu</div>  
      <ul class="srt-menu" id="menu-main-navigation">
        <li><a href="index">Home</a></li>
	<li><a href="afficher_zones">Zones</a></li>
	<li><a href="afficher_programs">Prog journée</a></li>
	<li class="current"><a href="program_semaine">Prog semaine</a></li>
	<li><a href="logs">Logs</a></li>
      </ul>
    </nav><!-- #topnav -->
  </header><!-- end header -->

  <section id="page-header" class="clearfix">    
    <!-- responsive FlexSlider image slideshow -->
    <div class="wrapper">
      <h1>Programmes semaine</h1>
    </div>
  </section>

  <!-- main content area -->
  <div class="wrapper" id="main">
    <!-- content area -->
    <section id="content">
      <%
	var liste_jours=["lundi","mardi","mercredi","jeudi","vendredi","samedi", "dimanche"];
      %>
    <p>Voici les <%= progs.length %> programmes:
    </p>

    <% for(var p=0; p< progs.length; p++) { %>
	<div>
	    <a href="edit_prog_sem?id=<%= progs[p].id %>"><img src="styles/images/edit.png"></a>
	    <a href="supprime_prog_sem?id=<%= progs[p].id %>"><img src="styles/images/cancel.png"></a>
	    <%= progs[p].name %>
	    <table  cellspacing=0>
		<tr>
		    <th>lundi</th>
		    <th>mardi</th>
		    <th>mercredi</th>
		    <th>jeudi</th>
		    <th>vendredi</th>
		    <th>samedi</th>
		    <th>dimanche</th>
		</tr>
		<tr>
		  <%
		    progs[p].program=[];
		    progs[p].program[0]=progs[p].prog_0;
		    progs[p].program[1]=progs[p].prog_1;
		    progs[p].program[2]=progs[p].prog_2;
		    progs[p].program[3]=progs[p].prog_3;
		    progs[p].program[4]=progs[p].prog_4;
		    progs[p].program[5]=progs[p].prog_5;
		    progs[p].program[6]=progs[p].prog_6;

		    for(var jour=0; jour < liste_jours.length; jour++ ) { %>
		    <td>
			  <% for(var i=0; i<progs_jour.length; i++) { %>
				<% if(progs_jour[i].id ==  progs[p].program[jour]) { %>
				    <a href="edit_prog?id=<%= progs_jour[i].id %>"><%= progs_jour[i].name %></a>&nbsp;
				<% } %>
			    <% } %>
			</td>
		    <% } %>
		</tr>
	    </table>
	</div>
    <% } %>

    <h1> Ajouter un programme</h1>
    <form method="post" action="ajouter_prog_sem">
      <% if(typeof selected_prog != 'undefined' && selected_prog) {
	 selected_prog.program=[];
	 selected_prog.program[0]=selected_prog.prog_0;
	 selected_prog.program[1]=selected_prog.prog_1;
	 selected_prog.program[2]=selected_prog.prog_2;
	 selected_prog.program[3]=selected_prog.prog_3;
	 selected_prog.program[4]=selected_prog.prog_4;
	 selected_prog.program[5]=selected_prog.prog_5;
	 selected_prog.program[6]=selected_prog.prog_6;
	 %>
            <input type="hidden" name="id" value="<%= selected_prog.id %>">
	<% } else { %>
	    <input type="hidden" name="id" value="">
	<% } %>
	Nom du programme: <input type="text" name="prog_name"
				 <% if(typeof selected_prog != 'undefined' && selected_prog) { %>
	value="<%= selected_prog.name %>"
				 <% } %> /><br/>

	<%  for(var jour=0; jour < liste_jours.length; jour++ ) { %>
	    <div><%= liste_jours[jour] %></div><div>
		<select name="prog_<%= jour %>">
		    <% for(var i=0; i<progs_jour.length; i++) { %>
			<option value="<%= progs_jour[i].id %>"
				<% if(typeof selected_prog != 'undefined' && selected_prog) { %>
			    <% if(selected_prog.program[jour] == progs_jour[i].id) { %>
				%>
				selected
				<% }
				} %>
			><%= progs_jour[i].name %>
		  </option>
          <%    } %>
	  </select></div><br/>
	  <% } %>
	  <input type="submit" value="Submit">
      </form>

    </section><!-- #end content area -->

  </div><!-- #end div #main .wrapper -->
  <% include ../partials/footer %>
</body>
</html>
