<!DOCTYPE html>
<% include ../partials/head %>
<body id="home">

  <!-- header area -->
  <header class="wrapper clearfix">
    <div id="banner">
      <div id="logo"><a href="/"><img src="styles/images/heater.png" alt="logo"></a></div> 
    </div>

    <!-- main navigation -->
    <nav id="topnav" role="navigation">
      <div class="menu-toggle">Menu</div>  
      <ul class="srt-menu" id="menu-main-navigation">
        <li><a href="/">Home</a></li>
	<li><a href="afficher_zones">Zones</a></li>
	<li class="current"><a href="afficher_programs">Prog journée</a></li>
	<li><a href="program_semaine">Prog semaine</a></li>
	<li><a href="logs">Logs</a></li>
      </ul>
    </nav><!-- #topnav -->
  </header><!-- end header -->

  <section id="page-header" class="clearfix">    
    <!-- responsive FlexSlider image slideshow -->
    <div class="wrapper">
      <h1>Programmes</h1>
    </div>
  </section>

  <!-- main content area -->
  <div class="wrapper" id="main">
    <!-- content area -->
    <section id="content">

    <p>Voici les <% progs.length %> programmes:
    </p>
      <% for(var i=0; i<progs.length; i++) { %>
      <div>
      <a href="edit_prog?id=<%= progs[i].id %>"><img src="styles/images/edit.png"></a>
      <a href="supprime_prog?id=<%= progs[i].id %>"><img src="styles/images/cancel.png"></a>
	  <%= progs[i].name %>
	<table  cellspacing=0>
	  <tr>
	    <% for(j=0; j<24; j++) { %>
	       <th colspan="4"> <%= j %> </th>
	       <% } %>
	  </tr>
	  <tr>
	    <% for(j=0; j<24*4; j++) { %>
	       <td class="color_<%= progs[i].program?progs[i].program[j]:0 %>">&nbsp;</td>
	       <% } %>
	  </tr>
	</table>
	</div>
	<% } %>

	<div style="margin-top:30px">
	<div class="color_0" style="width:50px;float:left;margin-right:10px">&nbsp;</div><div>Arret</div>
	<div class="color_1" style="width:50px;float:left;margin-right:10px">&nbsp;</div> <div>Hors-gel</div>
	<div class="color_2" style="width:50px;float:left;margin-right:10px">&nbsp;</div> <div>Eco</div>
	<div class="color_3" style="width:50px;float:left;margin-right:10px">&nbsp;</div> <div>Confort</div>
	</div>

	<h1> Ajouter un programme</h1>
 <form method="post" action="ajouter_prog">
   <input type="hidden", name="id", value="<%= selected_prog.id %>">
   Nom du programme: <input type="text" name="name"
			    <% if(typeof selected_prog != 'undefined' && selected_prog) { %><
			value="<%= selected_prog.name %>"
			<% } %> /><br/>
Heure début :
<select name="heure_debut">
  <%
     for(var h=0; h<24; h++) {
        for(var m=0; m<60; m+=15) { %>
  <option value="<%= h %>:<%= m %>"><%= h<10?util.format('0%d', h):h %>:<%= m<10?util.format('0%d', m):m %></option>
  <%    }
	} %>
    <option value="24:00">24:00</option>
</select>
Heure fin:
<select name="heure_fin">
  <%
     for(var h=0; h<24; h++) {
        for(var m=0; m<60; m+=15) { %>
  <option value="<%= h %>:<%= m %>"><%= h<10?util.format('0%d', h):h %>:<%= m<10?util.format('0%d', m):m %></option>
  <%    }
     } %>
  <option value="24:00" selected>24:00</option>
</select>

     mode:
     <select name="mode">
       <option value="Arret">Arrêt</option>
       <option value="Hors-gel">Hors-gel</option>
       <option value="Eco">Eco</option>
       <option value="Confort">Confort</option>
     </select>
  <input type="submit" value="Submit">
 </form>

    </section><!-- #end content area -->

  </div><!-- #end div #main .wrapper -->
  <% include ../partials/footer %>
</body>
</html>
