3<!DOCTYPE html>
<% include ../partials/head %>
<body id="home">

  <!-- header area -->
  <header class="wrapper clearfix">
    <div id="banner">
      <div id="logo"><a href=""><img src="styles/images/heater.png" alt="logo"></a></div> 
    </div>

    <!-- main navigation -->
    <nav id="topnav" role="navigation">
      <div class="menu-toggle">Menu</div>  
      <ul class="srt-menu" id="menu-main-navigation">
        <li class="current"><a href="">Home</a></li>
	<li><a href="afficher_zones">Zones</a></li>
	<li><a href="afficher_programs">Prog journée</a></li>
	<li><a href="program_semaine">Prog semaine</a></li>
	<li><a href="logs">Logs</a></li>
      </ul>
    </nav><!-- #topnav -->
  </header><!-- end header -->

  <section id="page-header" class="clearfix">    
    <!-- responsive FlexSlider image slideshow -->
    <div class="wrapper">
      <h1>Home</h1>
    </div>
  </section>

  <!-- main content area -->
  <div class="wrapper" id="main">
    <!-- content area -->
    <section id="content">
    <%
var now=new Date();
var today = now.toLocaleString();

var cur_day = (now.getDay()+6)%7;
var cur_hour=parseInt(now.getHours()*4+ now.getMinutes()/15);
    %>
    <p> <%= today %> </p>
    <div>    
    <%
for(var i=0; i<zones.length; i++) {
    var program_semaine=zones[i].program;
    for(var j=0; j<programs.length; j++) {
	if(programs[j].id == zones[i].program) {
	    program_semaine=programs[j];
	    break;
	}
    }
     
    var program_jour=0;
    if(cur_day==0)
	program_jour = program_semaine.prog_0;
    else if(cur_day == 1)
	program_jour = program_semaine.prog_1;
    else if(cur_day == 2)
	program_jour = program_semaine.prog_2;
    else if(cur_day == 3)
	program_jour = program_semaine.prog_3;
    else if(cur_day == 4)
	program_jour = program_semaine.prog_4;
    else if(cur_day == 5)
	program_jour = program_semaine.prog_5;
    else if(cur_day == 6)
	program_jour = program_semaine.prog_6;
    
    for(var j=0; j<progs_jour.length; j++) {
	    if(progs_jour[j].id == program_jour) {
	    program_jour = progs_jour[j];
	    break;
	}
    }
    zones[i].current_mode = program_jour.program.charAt(cur_hour);
    if(zones[i].current_mode==0)
	zones[i].current_mode_name = "Arret";
    else if(zones[i].current_mode==1)
	zones[i].current_mode_name = "Hors-Gel";
    else if(zones[i].current_mode==2)
	zones[i].current_mode_name = "Eco";
    else if(zones[i].current_mode==3)
	zones[i].current_mode_name = "Confort";
	%>

	<div style="margin-top:20px">
	<div class="color_<%= zones[i].current_mode %>" style="width:60px; margin-right:10px; float:left"><%= zones[i].current_mode_name %>&nbsp;</div>

	<a href="edit_zones?id=<%= zones[i].id %>"><%= zones[i].name %></a> -
	<a href="edit_prog_sem?id=<%= program_semaine.id %>"><%= program_semaine.name %></a>
	<a href="edit_prog?id=<%= program_jour.id %>"><%= program_jour.name %></a>

	<table cellspacing=0>
	  <tr>
	    <% for(j=0; j<24; j++) { %>
	       <th colspan="4" style="align:left"> <%= j %> </th>
	       <% } %>
	  </tr>
	  <tr>
	    <% for(j=0; j<24*4; j++) {
		if(j==cur_hour) { %>
		    <td class="color_<%= program_jour.program[j] %>_selected">&nbsp;</td>
	         <% } else {%>
		    <td class="color_<%= program_jour.program[j] %>">&nbsp;</td>
		 <%}%>

	       <% } %>
	  </tr>
	</table>

	</div>
	<% } %>
      </div>

      <div style="margin-top:30px">
	  <div class="color_0" style="width:50px;float:left;margin-right:10px">&nbsp;</div><div>Arret</div>
	  <div class="color_1" style="width:50px;float:left;margin-right:10px">&nbsp;</div> <div>Hors-gel</div>
	  <div class="color_2" style="width:50px;float:left;margin-right:10px">&nbsp;</div> <div>Eco</div>
	  <div class="color_3" style="width:50px;float:left;margin-right:10px">&nbsp;</div> <div>Confort</div>
      </div>

    </section><!-- #end content area -->

  </div><!-- #end div #main .wrapper -->
  <% include ../partials/footer %>
</body>
</html>
